#firstSvg {
  width: 900px;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 300px;
  margin-left: 580px;
  margin-bottom: 200px;
  transform-origin: 50% 50%;
}
#firstSvg image{
  animation: move-pang 10s 
}
#P {
  fill: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-left: 750px;
  margin-bottom: 200px;
  width: 1000px;
  height: 1000px;
  opacity: 0;
  animation: letter-going-down 1s forwards;
  animation-delay: 1s;

}
#A {
  fill: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-left: 900px;
  margin-bottom: 200px;
  width: 1000px;
  height: 1000px;
  opacity: 0;
  animation: letter-going-down 1s forwards;
  animation-delay: 2.3s;

}
#N {
  fill: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-left: 1050px;
  margin-bottom: 200px;
  width: 1000px;
  height: 1000px;
  opacity: 0;
  animation: letter-going-down 1s forwards;
  animation-delay: 4s;

}
#G {
  fill: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-left: 1175px;
  margin-bottom: 200px;
  width: 1000px;
  height: 1000px;
  opacity: 0;
  animation: letter-going-down 1s forwards;
  animation-delay: 6s;

}
#secondSvg {
  width: 900px;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-left: 580px;
  margin-right: 700px;
  margin-bottom: 200px;
  opacity: 0;
  animation: background-coming-down 3s forwards;
  animation-delay: 7s;

}
/* 00315a */
@keyframes move-pang{
  0%{
    transform:matrix(2.2259615384615405,0,0,2.2259615384615405,-1.1368683772161603e-13,564.3173076923076)
  }100%{
    transform:matrix(2.2259615384615405,0,0,2.2259615384615405,595.6877315549887,564.3173076923076)
  }
}

@keyframes letter-going-down {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
    margin-top: 800px;
  }
  100% {
    opacity: 1;
    margin-top: 800px;
  }
}

@keyframes background-coming-down {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 1;
    margin-top: 300px;
  }
  100% {
    margin-top: 300px;
    opacity: 1;
  }
}
